# Dependencies
node_modules/

# Environment variables (NEVER PUSH THIS)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Firebase (if used later)
.firebase/
firebase-debug.log

# Build / cache
build/
dist/
.cache/

# Editor settings
.vscode/
.idea/
